/* Added nav css */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Added nav img css */
nav img {
  width: 35px;
}

/* Added display, width, justify-content */
nav ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a.active {
  text-decoration: underline;
}
